<h1>Create an Item</h1>
<div class="create-item-modal" (ngSubmit)="sendData()">
  <label for="title"> Item Title </label>
  <input
    id="title"
    type="text"
    class="title-input"
    maxlength="60"
    placeholder="Enter the name of an item"
    [(ngModel)]="title"
  />
  <label for="text"> Item Description </label>
  <input
    id="text"
    type="text"
    class="text-input"
    maxlength="60"
    placeholder="Enter description"
    [(ngModel)]="text"
  />
  <label for="img"> Item Picture </label>
  <input
    id="img"
    type="text"
    class="photoUrl-input"
    placeholder="Enter photo url"
    [(ngModel)]="img"
  />
  <label for="price"> Item Price </label>
  <input
    id="price"
    type="number"
    class="price-input"
    placeholder="Set the price"
    [(ngModel)]="price"
  />

  <div class="create-navigation">
    <a routerLink="/" class="save" (click)="sendData()">Save</a>
    <a routerLink="/" class="cancel">Cancel</a>
  </div>
</div>
