<footer>
  <div class="footer-col">
    <h4>Guide</h4>
    <div class="footer-links lefty">
      <a href="#">Values</a>
      <a href="#">Mission</a>
      <a href="#">Strategy</a>
      <a href="#">Todo better world</a>
    </div>
  </div>

  <div class="footer-col long-text">
    <h4>About us</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At corporis nisi
      animi, obcaecati mollitia earum illo! Adipisci inventore odit dolores.
    </p>
  </div>

  <div class="footer-col">
    <h4>Quicklinks</h4>
    <div class="footer-links righty">
      <a href="#">Company</a>
      <a href="#">Partners</a>
      <a href="#">Service as software (SAAS)</a>
      <a href="#">Be great</a>
    </div>
  </div>
</footer>
