<div class="login-container">
  <h1>Please login</h1>
  <div class="input-container">
    <label for="username"> Username </label>
    <input
      id="username"
      type="text"
      class="username-input"
      maxlength="30"
      placeholder="Enter your username"
    />
    <label for="password"> Password </label>
    <input
      id="password"
      type="text"
      class="password-input"
      maxlength="40"
      placeholder="Enter your password"
    />
    <button class="login-button">LOGIN</button>
  </div>
</div>
